# django-messages-to-bootstrap-notify
# MANIFEST.in

include README.rst
include MIT-LICENSE
include AUTHORS
include dm2bn/static/dm2bn/vendor/jquery/jquery-3.2.1.js
include dm2bn/static/dm2bn/vendor/jquery/jquery-3.2.1.min.js
include dm2bn/static/dm2bn/vendor/jquery/jquery-3.2.1.min.map
include dm2bn/static/dm2bn/vendor/jquery/LICENSE.txt
include dm2bn/static/dm2bn/vendor/font-awesome/css/font-awesome.css
include dm2bn/static/dm2bn/vendor/font-awesome/css/font-awesome.min.css
include dm2bn/static/dm2bn/vendor/font-awesome/css/LICENSE
include dm2bn/static/dm2bn/vendor/bootstrap/css/bootstrap.css
include dm2bn/static/dm2bn/vendor/bootstrap/css/bootstrap.css.map
include dm2bn/static/dm2bn/vendor/bootstrap/css/bootstrap.min.css
include dm2bn/static/dm2bn/vendor/bootstrap/css/bootstrap.min.css.map
include dm2bn/static/dm2bn/vendor/bootstrap/css/bootstrap-theme.css
include dm2bn/static/dm2bn/vendor/bootstrap/css/bootstrap-theme.css.map
include dm2bn/static/dm2bn/vendor/bootstrap/css/bootstrap-theme.min.css
include dm2bn/static/dm2bn/vendor/bootstrap/css/bootstrap-theme.min.css.map
include dm2bn/static/dm2bn/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot
include dm2bn/static/dm2bn/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg
include dm2bn/static/dm2bn/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf
include dm2bn/static/dm2bn/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff
include dm2bn/static/dm2bn/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff2
include dm2bn/static/dm2bn/vendor/bootstrap/js/bootstrap.js
include dm2bn/static/dm2bn/vendor/bootstrap/js/bootstrap.min.js
include dm2bn/static/dm2bn/vendor/bootstrap/LICENSE
include dm2bn/static/dm2bn/vendor/font-awesome/css/font-awesome.css
include dm2bn/static/dm2bn/vendor/font-awesome/css/font-awesome.min.css
include dm2bn/static/dm2bn/vendor/font-awesome/css/LICENSE
include dm2bn/static/dm2bn/vendor/font-awesome/fonts/FontAwesome.otf
include dm2bn/static/dm2bn/vendor/font-awesome/fonts/fontawesome-webfont.eot
include dm2bn/static/dm2bn/vendor/font-awesome/fonts/fontawesome-webfont.svg
include dm2bn/static/dm2bn/vendor/font-awesome/fonts/fontawesome-webfont.ttf
include dm2bn/static/dm2bn/vendor/font-awesome/fonts/fontawesome-webfont.woff
include dm2bn/static/dm2bn/vendor/font-awesome/fonts/fontawesome-webfont.woff2
include dm2bn/static/dm2bn/vendor/font-awesome/fonts/LICENSE.txt
include dm2bn/static/dm2bn/vendor/bootstrap-notify/bootstrap-notify.js
include dm2bn/static/dm2bn/vendor/bootstrap-notify/bootstrap-notify.min.js
include dm2bn/static/dm2bn/vendor/bootstrap-notify/LICENSE.txt
include dm2bn/static/dm2bn/vendor/striptags/striptags.js
include dm2bn/static/dm2bn/vendor/striptags/LICENSE
include dm2bn/static/dm2bn/vendor/underscore/underscore.js
include dm2bn/static/dm2bn/vendor/underscore/underscore-min.js
include dm2bn/static/dm2bn/vendor/underscore/underscore-min.map
include dm2bn/static/dm2bn/vendor/underscore/LICENSE.txt
include dm2bn/static/dm2bn/vendor/bootstrap-notify-simple-wrapper/bootstrap-notify-simple-wrapper.js
include dm2bn/static/dm2bn/vendor/bootstrap-notify-simple-wrapper/bootstrap-notify-simple-wrapper.min.js
include dm2bn/static/dm2bn/vendor/bootstrap-notify-simple-wrapper/MIT-LICENSE
include dm2bn/templates/dm2bn/includes/dm2bn_static.html
include dm2bn/templates/dm2bn/templatetags/dm2bn_settings.html
